__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv001/
.venv001/
pipenv/
Pipfile
.env
.git
.gitignore
*.log
logs/
.DS_Store
node_modules
npm-debug.log
coverage/
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/